html, body {
  height: 100%;
  margin: 0;
}

.page-header {
  background-color: #9b9a99;
  padding: 20px 20px 20px 20px;
  margin-bottom: 50px;
}

.page-header > .titolone{
  font-family: Impact;
  font-size: 24px;
  color: #FFFFFF;
}
.logo{
  /*border: 2px solid #000000;*/
  padding-top: 20px;
}
.titolopost{
  /*border: 2px solid #000000;*/
}
.wrapper {
  min-height: calc(100vh - 140px);
}
main{
  margin-left: 20px;
}
.post > .date{
  float: right;
  color: #9b9a99;
}
.post h2 a{
  font-family: Impact;
  text-decoration: none;
}
.post p{
  margin-left: 0px;
}
.post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.tags{
  border: 2px solid #000000;
  /*background-color: #9b9a99;*/
  border-radius: 30px;
  padding: 10px;
  margin-left: 20px;
}
.footer{
  margin-top: 20px;
  padding: 10px;
  height: 100px;
  background-color: #5f5f5f;
  text-align: center;
}
